.product {
  padding: 4rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 2rem;
  width: 100%;
  border: none;
}

.title {
  margin: 0;
  font-size: 5rem;
}

.description {
  margin: 0;
  font-size: 4rem;
}

.priceContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 4rem;
}

.position {
  font-size: 6rem;
}

.isAvailable {
  cursor: pointer;
  background-color: aqua;

  &:hover {
    transform: scale(1.1);
  }
}