@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url("./vendor/normalize.css");

html,
body,
#root {
  height: 100%;
  position: relative;
}

input[type=checkbox] {
  -moz-appearance:initial
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 4px;
}

body {
  font-size: 14px;
}

* {
  box-sizing: border-box;
  text-size-adjust: none;
}

input {
  border:none;
  -webkit-appearance: none;
}

input:focus {
  border: none;
  outline: none;
}